@import "./colors/gc-cl-colors-transformaciones.scss";
@import "./colors/gc-cl-colors-trumodity.scss";
:root {
  --gc-cl-primary-color: #00a62dff;
  --gc-cl-background-color: #f1f4fa;
  --green-pine: #14d396;
  --primary-brand: #212138;
  --gc-cl-accent-interaction: #2b56e5;
  --blue-sky: #2bb1f8;
  --pink-strong: #9739b7;
  --layout-tint-200: #51555d;
  --teal-ball: #2cc3b7;
  --layout-tint-100: #3e424b;
  --layout-tint-300: #64686f;
  --layout-tint-600: #9ea0a5;
  --layout-tint-400: #787b81;
  --layout-tint-500: #8b8e93;
  --layout-color: #2b303a;
  --strawberry: #f35560;
  --layout-tint-700: #b1b3b7;
  --layout-tint-800: #c5c6c9;
  --layout-tint-900: #d8d9db;
  --layout-tint-1000: #f4f4f4;
  --layout-tint-1100: #f9f9f9;
  --layout-tint-950: #ebeced;
  --layout-shade-100: #272b34;
  --layout-shade-200: #23272f;
  --layout-shade-300: #1f222a;
  --layout-shade-500: #171a1f;
  --layout-shade-400: #1b1e24;
  --layout-shade-600: #13151a;
  --layout-shade-700: #0f1115;
  --layout-shade-800: #0b0d0f;
  --layout-shade-900: #07080a;
  --layout-shade-1000: #000;
  --layout-shade-950: #030405;
  --disabled: #c1c3be;
  --gc-cl-error: #d81e2c;
  --gc-cl-warning: #f0bf2d;
  --success: #00af2f;
  --success-tint-800: #33bf58;
  --success-tint-400: #99dfab;
  --success-tint-600: #66cf82;
  --success-tint-200: #ccefd5;
  --success-shade-800: #002309;
  --success-shade-600: #004612;
  --success-shade-400: #00691c;
  --success-shade-200: #008c25;
  --warning-tint-800: #f3cb57;
  --warning-tint-600: #f6d881;
  --warning-tint-200: #fcf2d5;
  --warning-tint-400: #f9e5ab;
  --warning-shade-200: #c09824;
  --warning-shade-400: #90721b;
  --warning-shade-600: #604c12;
  --warning-shade-800: #302609;
  --error-shade-400: #81121a;
  --error-shade-200: #ac1823;
  --error-shade-600: #560c11;
  --error-shade-800: #2b0608;
  --error-tint-600: #e77880;
  --error-tint-400: #efa5aa;
  --error-tint-200: #f7d2d4;
  --error-tint-800: #df4b56;
  --disabled-tint-800: #cdcfcb;
  --disabled-tint-600: #d9dbd8;
  --disabled-tint-400: #e6e7e5;
  --disabled-shade-200: #9a9c98;
  --disabled-tint-200: #f2f3f2;
  --disabled-shade-400: #737572;
  --disabled-shade-600: #4d4e4c;
  --disabled-shade-800: #262726;
  --accent-tint-100: #4066e7;
  --accent-tint-200: #5577ea;
  --accent-tint-300: #6a88ec;
  --gc-cl-accent-tint-400: #7f99ef;
  --accent-tint-600: #aabbf4;
  --accent-tint-500: #95aaf2;
  --accent-tint-700: #bfccf7;
  --accent-tint-800: #d4ddf9;
  --accent-tint-900: #e9eefc;
  --accent-shade-100: #264dce;
  --accent-shade-200: #2244b7;
  --accent-shade-300: #1e3ca0;
  --accent-shade-400: #193389;
  --accent-shade-500: #152b72;
  --accent-shade-700: #0c1944;
  --accent-shade-600: #11225b;
  --accent-shade-800: #08112d;
  --accent-shade-900: #040816;
  --warning-tint-100: #fff7e2;
  --error-tint-100: #fcedee;
  --success-tint-100: #ebf9ee;
  --white: #fff;
  --more-chip-background: #e0e0e2;
  --more-chip-color: #2b303a;
  --natural-person-chip-border: #43dcab;
  --natural-person-chip-color: #0c7f5a;
  --juridical-person-chip-border: #55c1f9;
  --juridical-person-chip-color: #1a6a95;
  --role-borrower-chip-background: #fcf2d5;
  --role-borrower-chip-color: #604c12;
  --role-buyer-chip-background: #d5effe;
  --role-buyer-chip-color: #1a6a95;
  --role-lender-chip-background: #ccefd5;
  --role-lender-chip-color: #004612;
  --role-seller-chip-background: #ead7f1;
  --role-seller-chip-color: #5b226e;
  --role-participant-chip-background: #d5f3f1;
  --role-participant-chip-color: #124e49;
  --selected-person-chip-background: #d5effe;
  --selected-person-chip-color: #1a6a95;
  --payment-method-transfer-chip-color: #1a6a95;
  --payment-method-transfer-chip-background: #d5effe;
  --payment-method-transfer-chip-border: #d5effe;
  --payment-method-check-chip-color: #5b226e;
  --payment-method-check-chip-background: #ead7f1;
  --payment-method-check-chip-border: #ead7f1;
  --payment-method-cash-chip-background: #ccefd5;
  --payment-method-cash-chip-border: #ccefd5;
  --payment-method-cash-chip-color: var(--success-shade-600);
  --payment-method-sit-chip-border: #fcf2d5;
  --payment-method-sit-chip-background: var(--warning-tint-200);
  --payment-method-sit-chip-color: var(--warning-shade-600);
  --payment-method-external-chip-background: #d5f3f1;
  --payment-method-external-chip-border: #d5f3f1;
  --payment-method-external-chip-color: #1a6a95;
  --gc-cl-mid-contrast: #8d8d96;
  --gc-cl-light-color: #f8f8f9;
  --gc-cl-card-avatar-color: #f6bb5b;
  --gc-cl-primary-brand: #f29e15;
  --gc-cl-high-contrast-lighten: #484857;
  --gc-cl-low-contrast: #e8e8ea;
  .dark {
    --gc-cl-primary-color: #0068ff;
    --primary-brand: #212138;
  }
}
